<p>home works!</p>
<form [formGroup]="applyForm" (submit)="submit()">
    <input type="text" formControlName="firstName">
    <button type="submit">Submit</button>
    <label>{{applyForm.controls.firstName.value}}</label>
    <ul>
        
          
            @if(loading === true) {
                <p >loading...</p>
            }
            @else if(error === true) {
                <p >error...</p>
            }
            @else {
                @for(post of posts;track post.id) {
                    <li>
                        <!-- <p class="feras">Feras</p> -->
                        <p [ngStyle]="{'color': post.id === 1 ? 'green' : 'red'}">{{post.id}}</p>
                        <p  [ngClass]="[post.id === 1?'green':'red']">{{post.userId}}</p>
                        <p>{{post.title}}</p>
                        <p>{{post.body}}</p>
                    </li>
                }
                @empty {
                    <p >no data...</p>
                }
               
            }

            
        
    
        
        
        
        
    </ul>
    
</form>
